<wicket:panel>
<span wicket:id="feedbackPanelSMP"></span>
<span class="closeButton"><button wicket:id="closeAfterSent" type="button"><wicket:message key="button.close"/></button></span>
<form wicket:id="sendMessageForm">
<table>
<tr class="form-send-message-title">
<th><wicket:message key="messageTitle"></wicket:message></th>
<td><input wicket:id="title"></input></td>
</tr>
<tr>
<td colspan="2"><textarea wicket:id="body" autocomplete="off" accesskey="u" name="body-message" rows="4" cols="69"></textarea></td>
</tr>
<tr class="form-send-message-isprivate">
<td><input type="checkbox"wicket:id="isPrivate"></input></td>
<th><wicket:message key="messageIsPrivate"></wicket:message></th>
</tr>
<tr>
<td></td>
<td><button wicket:id="submit" type="button"><wicket:message key="button.sendMessage"/></button></td>
</tr>
</table>
</form>
</wicket:panel>
