html,body {
    margin: 0;
    padding: 0;
    font: 0.75em 'Lucida Grande', sans-serif;
    color: #333;
    font-size: 0.75em;
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
}

a:hover {
    text-decoration: underline;
}

a {
    color: #2276BB;
    text-decoration: none;
}

div#header {
    display: block;
    float: left;
    width: 100%;
    height: 90px;
}

div#container {
    width: 1024px;
    margin: 0 auto;
    border-left: 1px;
    border-right: 1px solid #C8C8DE;
    border-left: 1px solid #C8C8DE;
}

div#content {
    margin: 0 200px;
    text-align: center;
}

div#content fieldset {
    border: none;
    text-align: center;
}

div#content {
    border: none;
    border-left: 1px solid #C8C8DE;
    border-right: 1px solid #C8C8DE;
    height: 100%;
}

div#wrapper {
    float: left;
    width: 100%
}

div#navigation {
    float: left;
    width: 200px;
    margin-left: -200px;
    /*background: #B9CAFF;*/
}

div#extra {
    float: left;
    width: 200px;
    margin-left: -100%;
    padding-left: 0px;
    /*background: #FF8539;*/
}

div#footer {
    clear: left;
    width: 100%;
    color: #000
}

div#footer p {
    margin: 0;
    padding: 5px 10px
}

#menu {
    padding-top: 5px; 
    float: right;
    display: inline;
    text-align: right;
    padding-right: 5px;
    width: 500px;
}

#menu ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

#menu li {
    display: inline;
    font-size: 1em;
    padding: 0.5em 0.15em 0.5em 0.5em;
    white-space: nowrap;
}

#menu li a {
    font-size: 1.50em;
    padding: 0.2em 0.15em;
    border-bottom: 1px solid #E9E9E9;
    color: #000000;
    text-decoration: none;
    height: 17px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

#menu li a:hover {
    color: #2276BB;
}

#menu-dashed {
    float: left;
    display: block;
    width: 100%;
}

#menu-dashed li {
    font-size: 150%;
    display: inline;
    float: left;
    margin: 0.2em 0 0 8px;
    padding: 3px 2px;
}

#menu-dashed li a:hover {
    border: 1px solid #999999;
    color: #999999;
}

#menu-dashed li a {
    border: 1px dashed #A4A0A1;
    color: #A4A0A1;
    padding: 3px 12px;
    text-decoration: none;
}

#menu-dashed a.act {
    border: 1px solid #000000;
    color: #000000;
}

.addressRisto th {
    font-size: x-small;
    text-align: right;
    font-weight: lighter;
}

.addressRisto td {
    font-size: small;
    text-align: left;
    
}

.activitiesList {
    width: 95%;
    list-style-image: none;
    list-style-type: none;
    font-size: x-small;
    text-align: left;
    padding-bottom: 2px;
    padding-left: 6px;
    margin-left: 0px;
}

.activitiesList ul {
    display: inline;
    float: left;
}

.activitiesList li {
    color: #A4A0A1;
    margin: 7px 0px 0px 0px;
    padding-top: 10px;
}

.activitiesList li a {
    color: #000;
    text-decoration: none;
}

.activitiesList li a:hover {
    color: #000;
    text-decoration: underline;
}

.iconActivities {
    height: 12px;
    width: 12px;
}

.dateActivities {
    white-space: nowrap;
    width: 190px;
    float: left;
    padding-left: 15px;
}

#search-panel form fieldset {
    border: none;
}

.datatable {
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    font-size: medium;
}

.datatable tbody th {
    font-weight: normal;
    padding-top: 10px;
    width: 11em;
}

.datatable tbody th {
    display: none;
}

.datatable td {
    font-weight: normal;
    border-bottom: 1px solid #EEEEEE;
}

.datatable td {
    font-weight: normal;
    padding-top: 10px;
    text-align: left;
    width: 11em;
}

.datatable td.ristoName {
    font-weight: normal;
    padding-top: 10px;
    width: 50em;
}

input[type="text"],fieldset input[type="password"],fieldset textarea,fieldset select,fieldset checkbox
    {
    border: 1px solid #AAAAAA;
    padding: 4px 2px;
    display: block;
}

input {
    border: 1px solid #AAAAAA;
    padding: 4px 2px;
}


.searchRistoInput {
    border-color: #B4B4B4 #CCCCCC #CCCCCC #B4B4B4;
    border-style: solid solid solid solid;
    border-width: 1px 1 1px 1px;
    font-size: 1em;
    margin: 0.25em 0 0.25em 12px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    padding: 0.4em;
    width: 250px !important;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topright: 5px;
}

.searchRistoButton {
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    background-color: #EEEEEE;
    background-position: center top;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    line-height: 1.2;
}

.form-risto {
    float: left;
}

.form-risto table {
    text-align: right;
    display: block;
}

.form-risto th {
    text-align: right;
}

.form-risto td {
    text-align: left;
    
}
.form-risto input {
    width: 300px;
    text-align: left;
}

#descriptionArea{
    width: 100%;
    display: block;
}
/* doesn't work
.uploadfield {
    border: 1px solid #AAAAAA !important;
}

.uploadfield input {
    border: 1px solid #AAAAAA !important;
}
*/
fieldset input[type="file"] {
    border: 1px solid #AAAAAA;
    padding: 4px 2px;
}

div .friendsList {
    text-align: left;
    display: block;
    height: 50px;
    border-bottom: 1px solid #EEEEEE;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-left: 60px;
    /*background-image: url("images/avatar.gif");*/
    background-repeat: no-repeat;
    font-size: medium;
}

div .friendName {
    width: 300px;
    float: left;
}

div .friendAvatar {
    float: left;
    width: 50px;
    display: block;
    padding-right: 6px;
}

.friendAvatar img {
    width: 50px;
    height: 50px;
}

div .friendType {
    float: left;
    width: 300px;
    font-size: small;
    font-style: oblique;
}

div .friendCenterColumn {
    width: 370px;
    float: left;
}

div .friendStatus {
    float: left;
    width: 300px;
    font-size: small;
    font-style: oblique;
}

div .friendsButton {
    float: right;
    font-size: xx-small;
}

div .friendsButton button{
    float: right;
    margin-left: 5px;
    font-size: xx-small;
}

div .dialogButton {
    float: right;
    font-size: xx-small;
}

div .dialogButton button{
    float: right;
    margin-left: 5px;
    font-size: xx-small;
}

.numberMessages{
    font-size: x-small; 
    color: #808080;
    text-align: left;
}
.rowMessageUnread{
    background-color: #ECEEF4;
}
.unreadMessages{
    font-size: x-small;
    font-weight: bold;
}

div .messageList {
    text-align: left;
    display: block;
    height: 50px;
    border-bottom: 1px solid #EEEEEE;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-left: 60px;
    /*background-image: url("images/avatar.gif");*/
    background-repeat: no-repeat;
    font-size: medium;
}

div .messageBody {
    float: left;
    width: 320px;
    color: #808080;
    
}

div .messageBody a {
    float: left;
    width: 320px;
    text-decoration: none;
    color: #808080;
}

div .messageCenterColumn {
    width: 400px;
    float: left;
}

div .messageTitle {
    width: 320px;
    float: left;
}

div .messageInfos {
    float: left;
    width: 320px;
    font-size: small;
}

div .messageInfos a {
    font-style: normal;
    font-size: medium;
}

.replyMessage{
    text-align: center;
    display: inline;
}

.leftButtonMessage{
    text-align: center;
    display: block;
}    

.autocomplete-risto ul {
    list-style-position: outside;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
    padding-left: 3px;
    padding-top: 0px;
    border-left: 1px solid gray;
    width: 250px;
    background-color: white;
    font-size: small;
}

.autocomplete-risto .selected {
    color: #FFF;
    background: #3366CC;
}

.edit {
    text-align: right;
    padding-right: 10px;
    padding-bottom: 20px;
}

.risoTypeBox input {
    width: auto;
}

.risoTypeBoxView {
    font-style: italic;
    font-variant: small-caps;
}

.risoTypeBoxView span {
    border-left: thin dotted gray;
}

h1 {
    font-size: medium;
}

.titleAndGoHome {
    float: left;
    display: inline;
    text-decoration: none;
    padding-left: 30px;
    padding-top: 5px;
    width: 80px;
}

.titleAndGoHome img {
    float: left;
    display: compact;
    width: 80px;
    border-style: none;
}

input.deleteButton {
    background: transparent url("../images/delete_64_small.png") no-repeat
        center top;
    cursor: pointer;;
    border: none;
    width: 25px;
    height: 25px;
    color: white;
}

.titleMyActivities {
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    text-align: center;
    display: block;
    width: 100%;
}

input.submitButton {
    border: 1px solid #AAAAAA;
    padding: 4px 4px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topright: 5px;
}

.descriptionLinks {
    text-align: left;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 8px;
}

.descriptionLinks ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
}

.descriptionLinks li {
    border: 1px solid transparent;
    display: inline-block;
    font-size: 1em;
    padding: 0em 0.15em 0em 0em;
}

.descriptionTextArea{
    font-size: medium;
    padding: 0.7em 0.7em 0.7em 0.7em;
}
.form-signup {
    text-align: left;
    float: left;
    display: block;
}

.form-signup th {
    text-align: right;
}

.captchaArea {
    text-align: center;
    width: 100%;
    float: left;
    display: block;
    font-size: medium;
    padding-top: 5px;
}

.form-signup input {
    width: 300px;
    text-align: left;
}

.form-signup-submitarea {
    text-align: center;
    float: left;
    display: block;
}

td.submitarea {
    text-align: center;
}

.submitarea input {
    width: auto;
}

.buttons-centered-area{
    display: block;
    width: 100%;
    text-align: center;
}
.buttons-centered-area a {
    
}

.moreActivitiesArea {
    text-align: center;
}

.picturesList {
    list-style-image: none;
    list-style-position: inside;
    list-style-type: none;
}

#picturesList {
    float: left;
    display: block;
    width: 30%;
    height: 130px;
    vertical-align: bottom;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 7px;
}

#picturesList ul {
    width: 100%;
}

#picturesList img {
    border-style: none;
}


#picturesList li {
    border: transparent;
    display: inline-block;
    font-size: 1em;
}

#pictureButton {
    padding-top: 5px;
    text-align: center;
    position: relative;
    width: 100%;
    height: 18px;
    text-align: center;
}

#pictureButton input {
    margin-left: 8px;
    margin-right: 8x;
}

#picture div {
    width: 140px;
    height: 95px;
    text-align: center;
}

#picture img {
    width: 95px;
    height: 88px;
}

input.publishPictureButton {
    background: transparent url("../images/publish_picture.png") no-repeat
        center top;
    cursor: pointer;
    border: none;
    width: 25px;
    height: 25px;
    color: white;
}

input.unpublishPictureButton {
    background: transparent url("../images/unpublish_picture.png") no-repeat
        center top;
    cursor: pointer;
    border: none;
    width: 25px;
    height: 25px;
}

.upload-picture {
    width: 100%;
    text-align: center;
}

.upload-picture th {
    text-align: right;
}

.upload-picture ts {
    text-align: left;
}

.eateractivitiesList {
    list-style-image: none;
    list-style-position: inside;
    list-style-type: none;
    font-size: medium;
    text-align: left;
    padding-bottom: 2px;
    padding-left: 130px;
    padding-right: 2px;
    padding-top: 2px;
}

.eateractivitiesList ul {
    display: inline;
    float: left;
}

.eateractivitiesList li {
    color: #A4A0A1;
    margin: 7px 0px 0px 0px;
}

.eateractivitiesList li a {
    color: #000;
    text-decoration: none;
}

.eateractivitiesList li a:hover {
    color: #000;
    text-decoration: underline;
}

.iconActivities {
    height: 12px;
    width: 12px;
}

.eaterDateActivities {
    white-space: nowrap;
    width: 100%;
    float: left;
    padding-left: 15px;
}

#menu-languages {
    float: right;
    display: block;
    text-align: right;
    width: 250px;
}

#menu-languages ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

#menu-languages li {
    display: inline-block;
    font-size: 1em;
    padding: 0.5em 0.15em;
}

#menu-languages li a {
    display: inline-block;
    font-size: 1.00em;
    padding: 0.2em 0.15em;
    border-bottom: 1px solid #E9E9E9;
    color: #000000;
    text-decoration: none;
    height: 17px;
    overflow: hidden;
}

#menu-languages .selected {
    text-decoration: underline;
}

#menu-languages li a:hover {
    color: #2276BB;
}

.descriptionNotAvailableLang {
    color: gray;
}

.feedbackPanel {
    text-align: center;
}

.feedbackPanel {
    text-align: center;
    font-size: medium;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

.feedbackPanelINFO {
    text-shadow: 1px gray;
    font-style: italic;
}

feedbackPanelERROR {
    color: red;
}

.commentsList {
    list-style-image: none;
    list-style-position: inside;
    list-style-type: none;
}
#commentArea{
    float: left;
    display: block;
    width: 100%;
}
#commentsList {
    float: left;
    display: block;
    width: 100%;
    vertical-align: bottom;
    border-bottom: 1px solid #EEEEEE;
    margin-top: 10px;
    margin-bottom: 7px;
    text-align: left;
}

#commentsList ul {
    width: 100%;
}

#commentsList li {
    border: transparent;
    display: inline-block;
    font-size: 1em;
}

#comment .comnentBody {
    background-color: blue;
}

#commentHeader {
    font-size: small;
}

#commentHeader .commentTitle {
    font-style: italic;
}

#commentHeader .commentTime {
    text-align: right;
    font-size: smaller;
}

#commentBody {
    font-size: small;
}

.form-comment {
    float: left;
    display: block;
}

.form-comment th {
    text-align: right;
}

.form-comment input {
    width: 300px;
    text-align: left;
}

.avatar {
    width: 50px;
    height: 50px;
}

.avatar-account {
    width: 150px;
}

.form-send-message {
    float: left;
    display: block;
}

.form-send-message-title th {
    text-align: right;
}

.form-send-message-title input {
    width: 520px;
}

.form-send-message-isprivate th {
    text-align: left;
}

.form-send-message-isprivate td {
    text-align: right;
}

.closeButton {
    text-align: center;
    display: block;
}

.gmap {
    display: block;
    width: auto; 
    height: 300px;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 25px;
    margin-bottom: 5px; 
}

.smalltext {
    font-size: x-small;
}

.mediumtext {
    font-size: medium;
}

.simpleSmallLink{
    text-decoration: none; 
    color: black;
}

.risto-view{
    text-align: left;
}

.buttons button , .buttons input, .buttons a{
    /*display: block;*/
    margin:0px 0px 0px 0px;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    white-space: nowrap;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    line-height:130%;
    font: xx-small;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
    float: none;
}
.buttons button, .buttons input, .buttons a{
    /*width:auto;
    overflow:visible;*/
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}



/* STANDARD */

button:hover, .buttons input:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

.buttons .descriptionLinkActive {
    text-decoration: underline;
    font-weight: bold;
    padding: 8px 8px 8px 8px;
    font-size: small;
}

.searchRisto {     
    display: inline;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin:   0px 0px 0px 0px;
}

.searchRisto input{
    display: block;
    float:left;
}

.searchRisto button{     
    display: block;
    float: right;    
}


#inputSearch {
    display: block;
    width: 20%;
}

#search-panel li {
    display: inline;
    font-size: 1em;
    padding: 0.5em 0.15em 0.5em 0.5em;
}

.buttonNavigation{
    margin-left: -20px;
    text-align: center;   
}

.buttonNavigation ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

.buttonNavigation li {
    display: block;
    font-size: 1em;
    padding: 5px 5px 5px 5px;
}

.inlinestyle{
    display: block;
    text-align: center!important;
    width: 100%;
}
    

.signInForm table{
    text-align: center;
    width: 100%;
}

.signInForm th{
    text-align: right;    
}

.signInForm td{
    text-align: left;   
}

.signInForm INPUT[type="text"], INPUT[type="password"]{
    width: 200px;
    size: 200px;
}

.formcenter table{
    text-align: center;
    width: 100%;
}

.forceinline{
    display: inline;
    width: auto;
    background: yellow;
}


.messageFolder ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}


.messageFolder li{
    float: left;
    text-align: left;
    width: 100%;
    padding-top: 10px;
}

.buttonNavigation ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

.buttonNavigation li{
    float: left;
    text-align: left;
    width: 100%;
    padding-top: 10px;
}

.datatable{
    width: 90%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
    display: block;
}
/*button {
    border: 1px solid #AAAAAA;
    padding: 4px 2px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topright: 5px;
}
*/