
input {font-size:0.9em; color:#00999; border:1px solid #e6e6e6; margin:0 5px 0 0; padding:3px 3px 2px 3px;}
button {font-size:0.9em; color:#00999; border:1px solid #e6e6e6; margin:0 5px 0 0; padding:3px 3px 2px 3px; border-color: color:#999;}

html, body {font-family:"Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;}
body {font-size:12px; margin:0; padding:5; width:996px; text-align:left; margin:0 auto; z-index:1;}
strong, em, b, i, .bold {font-family:"Lucida Sans","Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;}

p {margin:1em 1em 1em 1em;}

input, select, textarea {font-family:Arial,Helvetica,sans-serif; font-size:1em; }
form {display:inline;}
label {vertical-align:middle;}

fieldset {border: none;}

form.cmxform legend {
  padding: 0 2px;
  font-weight: bold;
}
form.cmxform label {
  display: inline-block;
  line-height: 1.8;
  vertical-align: top;
}
form.cmxform fieldset ol {
  margin: 0;
  padding: 0;
}
form.cmxform fieldset li {
  list-style: none;
  padding: 5px;
  margin: 0;
}
form.cmxform fieldset fieldset {
  border: none;
  margin: 3px 0 0;
}
form.cmxform fieldset fieldset legend {
  padding: 0 0 5px;
  font-weight: normal;
}
form.cmxform fieldset fieldset label {
  display: block;
  width: auto;
}
form.cmxform em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}
form.cmxform label {
  width: 120px; /* Width of labels */
}
form.cmxform fieldset fieldset label {
  margin-left: 123px; /* Width plus 3 (html space) */
}

th {text-align:left; background-color:#eee;}
table, td {font-size: 1em;}
th {width: 130px; padding: 3px;}
td {width: 130px; padding: 3px;}

ul.floatbox {
	margin:0;
	padding:0;
	list-style:none;
	width:100%;
}
ul.floatbox li {
	float: left;
	width: auto;
}

#search-panel{
	width: 100%;
	float: right; 
	padding: 0 0 0 0;
	/*border-top: 1px solid #999999 ;*/
}

#lists{
	width: 100%;
	float: right; 
	padding: 0 0 0 0;
}

#container{
	width: 100%;
	float: left; 
	padding: 0 0 20 0;
	border-bottom: 1px solid #999999 ;
}

#menu {
	float:left;
	display: block;
	width:100%;
}

#menu li {
	display:inline;
	float:left;
	margin:0.2em 0 0 8px;
	padding:3px 2px;
}

.intro ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:disc;
}
.intro p, .intro ul {
	color:#000000;
	font-size:1.2em;
	line-height:1.3;
}
#menu li a:hover{
	border:1px solid #999999;
	color:#999999;
}
#menu li a {
	border:1px dashed #A4A0A1;
	color:#A4A0A1;
	padding:3px 12px;
	text-decoration:none;
}
#menu a.act {
	border:1px solid #000000;
	color:#000000;
}
input.submit, button,
input[type="button"],
input[type="submit"]{
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	background-color:#E6E6E6;
	border:1px solid #CCCCCC;
	color:#000000;
	cursor:pointer;
	font-size:x-small;
	font-family:'Lucida Grande',sans-serif;
	padding:4px 8px;
	vertical-align:top;
}

button.floatbox,
input.floatbox[type="button"]{
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	background-color:#E6E6E6;
	border:1px solid #CCCCCC;
	color:#000000;
	cursor:pointer;
	font-size:xx-small;
	font-family:'Lucida Grande',sans-serif;
	padding:0px 0px;
	vertical-align:top;
}